<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="10001"
    android:versionName="100.0.1"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="org.roam"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="36"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE"/>
    <uses-permission android:name="android.permission.DETECT_SCREEN_RECORDING"/>
    <uses-feature
        android:name="android.hardware.vulkan"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <application
        android:theme="@style/r_res_0x7f100009"
        android:label="@string/r_res_0x7f0f002f"
        android:icon="@mipmap/r_res_0x7f200000"
        android:name="com.roamexplore.Container"
        android:allowBackup="false"
        android:supportsRtl="false"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:networkSecurityConfig="@xml/r_res_0x7f120001"
        android:roundIcon="@mipmap/r_res_0x7f200000"
        android:appCategory="productivity"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:allowAudioPlaybackCapture="false"
        android:requestLegacyExternalStorage="true"
        android:allowNativeHeapPointerTagging="false"
        android:autoRevokePermissions="allowed"
        android:preserveLegacyExternalStorage="true"
        android:memtagMode="async"
        android:enableOnBackInvokedCallback="true"
        android:pageSizeCompat="enabled">
        <meta-data
            android:name="roam.build.apkfile.compile_date"
            android:value="2026-07-20 11:45:47"/>
        <meta-data
            android:name="roam.build.application.version"
            android:value="100"/>
        <meta-data
            android:name="roam.ota.version_release_date"
            android:value="2026年第29期正式版更新"/>
        <meta-data
            android:name="roam.package.manifest_solution"
            android:value="BP4A.251205.006_release-keys"/>
        <meta-data
            android:name="roam.product.core_version"
            android:value="100.0.70.105_xhide14_android-039_release-osp-full"/>
        <meta-data
            android:name="roam.security.patch_level"
            android:value="2026年7月5日"/>
        <activity
            android:theme="@style/r_res_0x7f1002be"
            android:name="com.roamexplore.SplashActivity"
            android:exported="true"
            android:configChanges="fontScale|layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.roamexplore.MainActivity"
            android:exported="false"
            android:process=":app_service"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:alwaysRetainTaskState="true"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.roam.preloader.FileProviderDeamonActivity"
            android:exported="true"
            android:process=":file_provider"
            android:excludeFromRecents="true"
            android:noHistory="true"/>
        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="com.roamexplore.lifecycle-process"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <activity-alias
            android:icon="@mipmap/r_res_0x7f200001"
            android:name="org.roam.app.ExploreLogoIcon"
            android:enabled="false"
            android:exported="true"
            android:screenOrientation="portrait"
            android:targetActivity="com.roamexplore.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/r"
            android:name="org.roam.app.RoundSemicircleMonetDynamicIcon"
            android:enabled="false"
            android:exported="true"
            android:screenOrientation="portrait"
            android:targetActivity="com.roamexplore.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/r_res_0x7f200003"
            android:name="org.roam.app.IntelligenceIcon"
            android:enabled="false"
            android:exported="true"
            android:screenOrientation="portrait"
            android:targetActivity="com.roamexplore.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/r_res_0x7f200004"
            android:name="org.roam.app.FashionIcon"
            android:enabled="false"
            android:exported="true"
            android:screenOrientation="portrait"
            android:targetActivity="com.roamexplore.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <receiver
            android:name="com.roamexplore.provider.AppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/r_res_0x7f120008"/>
        </receiver>
        <meta-data
            android:name="roam.feature.ai"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.ai.media_files_really_preferences_refactor"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.ai.npu_capability_sdk37"
            android:value="false"/>
        <meta-data
            android:name="roam.feature.ai.webview_html_content_archive"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.display_brightness_hdr"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.external_storage_path.strings"
            android:value="/Download/ROAM_Explore"/>
        <meta-data
            android:name="roam.feature.speech_to_text_engine"
            android:value="false"/>
        <meta-data
            android:name="roam.feature.support_android_splashscreen"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_android_splashscreen.undefined_animatedIcon"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_blur"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_blur.effect_modify"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_change_appicon"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_characteristic_items_ui"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_microphone"
            android:value="false"/>
        <meta-data
            android:name="roam.feature.support_monet_dynamic_color_system"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_settings_search_capability"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_sync_quickstep_wallpaper"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_system_task_multiwindow"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.transparent_launcher_ui"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.transparent_launcher_ui.liquid_glass"
            android:value="true"/>
        <meta-data
            android:name="roam.launcher.disabled_load_dynamic_widget"
            android:value="false"/>
        <meta-data
            android:name="roam.launcher.support_icons_color_filter"
            android:value="true"/>
        <meta-data
            android:name="roam.launcher.support_widget_bigicon"
            android:value="true"/>
        <meta-data
            android:name="roam.package.developer_version"
            android:value="false"/>
        <meta-data
            android:name="roam.package.identify_code"
            android:value="XHEXPNT_260511CN-SK10_domestic"/>
        <meta-data
            android:name="roam.package.toggle_appicon_activity"
            android:value="com.roamexplore.SplashActivity|org.roam.app.ExploreLogoIcon|org.roam.app.RoundSemicircleMonetDynamicIcon|org.roam.app.IntelligenceIcon|org.roam.app.FashionIcon"/>
        <meta-data
            android:name="roam.package.toggle_appicon_activity.default"
            android:value="com.roamexplore.SplashActivity"/>
        <meta-data
            android:name="roam.product.install_preload_bookmark"
            android:value="true"/>
        <meta-data
            android:name="roam.product.market_name"
            android:value="ROAM AI Explore"/>
        <meta-data
            android:name="roam.product.platform_version_str.cn"
            android:value="ROAM AI Explore 100\10Built on Android 16"/>
        <meta-data
            android:name="roam.product.release_date"
            android:value="2022年2月5日"/>
        <meta-data
            android:name="roam.product.support_android_greenity"
            android:value="true"/>
        <meta-data
            android:name="roam.build.cglib.compile_date"
            android:value="2026-05-07 14:47:26"/>
        <meta-data
            android:name="roam.build.cglib.recompile_allcodes"
            android:value="false"/>
        <meta-data
            android:name="roam.feature.compat_cglib_dexclassloader_sdk34"
            android:value="true"/>
        <meta-data
            android:name="roam.build.baidumtj.compile_date"
            android:value="2026-05-07 14:49:07"/>
        <meta-data
            android:name="roam.build.baidumtj.version"
            android:value="BaiduMTJ_version V4.0.11.0 OSP-FULL"/>
        <meta-data
            android:name="roam.product.sdk.BaiduMTJ_version"
            android:value="BaiduMTJ_Android_App_Auto_V4.0.11.0"/>
        <meta-data
            android:name="roam.build.glide.compile_date"
            android:value="2026-04-10 10:22:37"/>
        <meta-data
            android:name="roam.build.glide.version"
            android:value="Glide 5.0 OSP-FULL"/>
        <meta-data
            android:name="roam.feature.support_blur.native_api"
            android:value="true"/>
        <meta-data
            android:name="roam.blurview.import_version"
            android:value="1.1.0(3)"/>
        <meta-data
            android:name="roam.native.blurview_jni"
            android:value="libQmBlur.so"/>
        <meta-data
            android:name="roam.package.support_qmdeve_blurview_sdk"
            android:value="true"/>
        <meta-data
            android:name="roam.build.windmill_windowsdk.compile_date"
            android:value="2026-07-12 16:56:33"/>
        <meta-data
            android:name="roam.build.windmill_windowsdk.version"
            android:value="Windmill_WindowSDK 1.1 OSP-FULL"/>
        <meta-data
            android:name="roam.package.support_backinvoked_library"
            android:value="true"/>
        <meta-data
            android:name="roam.package.support_baseline_prof"
            android:value="false"/>
        <meta-data
            android:name="roam.package.support_profileinstaller_receiver"
            android:value="true"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="roam.feature.support_camera_scanner"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_new_design_camera_ui"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.CAMERA"
            android:value="true"/>
        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true"/>
        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_ALLOW_SYSTEM_OVERRIDE"
            android:value="true"/>
        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_IGNORING_ORIENTATION_REQUEST_WHEN_LOOP_DETECTED"
            android:value="false"/>
        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_MIN_ASPECT_RATIO_OVERRIDE"
            android:value="false"/>
        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_RESIZEABLE_ACTIVITY_OVERRIDES"
            android:value="false"/>
        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY"
            android:value="true"/>
        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_USER_ASPECT_RATIO_OVERRIDE"
            android:value="true"/>
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true"/>
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <meta-data
            android:name="android.vendor.full_screen"
            android:value="true"/>
        <meta-data
            android:name="android.vivo_multidisplay_support"
            android:value="true"/>
        <meta-data
            android:name="android.vivo_nightmode_support"
            android:value="false"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="2"/>
        <meta-data
            android:name="com.coloros.DisableSystemDarkMode"
            android:value="true"/>
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional"/>
        <meta-data
            android:name="com.google.ar.core.min_apk_version"
            android:value="221020000"/>
        <meta-data
            android:name="oplus.compat.features.disable"
            android:value="all"/>
        <meta-data
            android:name="support_minors_mode"
            android:value="1"/>
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"/>
        <uses-library
            android:name="com.miui.easygo"
            android:required="false"/>
        <uses-library
            android:name="com.hihonor.easygo"
            android:required="false"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip"/>
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>
        <meta-data
            android:name="EasyGoClient"
            android:value="true"/>
        <meta-data
            android:name="honor.splashscreen.type"
            android:value="1"/>
        <meta-data
            android:name="roam.feature.support_large_display_ui"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.vulkan_graphics"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.vulkan_graphics.plugin_version"
            android:value="V5.1.260524.1611"/>
        <meta-data
            android:name="roam.package.permission_hardware.DETECT_SCREEN_CAPTURE"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.DETECT_SCREEN_RECORDING"
            android:value="true"/>
        <meta-data
            android:name="VivoMultiSupport"
            android:value="true"/>
        <meta-data
            android:name="VivoMultiWindow"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.support_coarse_location"
            android:value="true"/>
        <meta-data
            android:name="roam.package.support_geolocation_permission"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.LOCATION"
            android:value="true"/>
        <meta-data
            android:name="roam.package.support_volume_equalizer.allnew_framework"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.global_audiofx"
            android:value="false"/>
        <meta-data
            android:name="roam.feature.mediaservice_dolby_api"
            android:value="false"/>
        <meta-data
            android:name="roam.feature.software_sound_effect_approach"
            android:value="false"/>
        <meta-data
            android:name="roam.package.permission_hardware.MODIFY_AUDIO_SETTINGS"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.NETWORK"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.notification.promoted_notification.channel_id"
            android:value="10087"/>
        <meta-data
            android:name="roam.feature.notification.promoted_notification.support"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.NOTIFICATIONS"
            android:value="true"/>
        <provider
            android:name="org.roam.InternalStorageProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:authorities="org.roam.io.FileManager"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/r_res_0x7f120007"/>
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
        <meta-data
            android:name="roam.package.permission_hardware.storage_rw"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.storage_rw.MANAGE_EXTERNAL_STORAGE"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.storage_rw.READ_MEDIA_VISUAL_USER_SELECTED"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.VIBRATE"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.webview.is_preload_webview_product"
            android:value="false"/>
        <meta-data
            android:name="roam.feature.webview.support_annoying_element_filter"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.webview.support_developertools_ui"
            android:value="true"/>
        <meta-data
            android:name="roam.feature.webview.support_extension"
            android:value="false"/>
        <meta-data
            android:name="roam.package.permission_hardware.FOREGROUND_SERVICE"
            android:value="true"/>
        <meta-data
            android:name="roam.package.permission_hardware.QUERY_ALL_PACKAGES"
            android:value="true"/>
        <meta-data
            android:name="webview.config.default_useragent_string"
            android:value="Mozilla/5.0 (Linux; Android 16; ROAM_EXPLORE Build/BP4A.251205.006; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/148.0.7778.215 Mobile Safari/537.36"/>
        <meta-data
            android:name="roam.build.native.compile_date"
            android:value="2026-07-13 10:00:08"/>
        <meta-data
            android:name="roam.build.native.ndk_version"
            android:value="xhcore_17.0.4754217_android-28-arm64"/>
        <meta-data
            android:name="roam.build.native.support_abilist"
            android:value="arm64-v8a|x86_64"/>
        <meta-data
            android:name="roam.build.native.version"
            android:value="Native 100.0.20 OSP-FULL"/>
        <meta-data
            android:name="roam.package.native_core_library"
            android:value="libpreloader.so"/>
        <meta-data
            android:name="roam.package.support_16bit_page_size"
            android:value="true"/>
    </application>
</manifest>
